.PostShow
  .PostPic
    = image_tag @post.image.url, class: "PostPic__image"
  .PostInfo
    .PostInfo__user
      = link_to (image_tag @post.user.image.url, class: "PostInfo__user--image PostUserShow-image"), user_path(@post.user)
      = link_to @post.user.name, user_path(@post.user), class: "PostInfo__user--name PostUserShow-name"
    .PostInfo__myComments
      = link_to (image_tag @post.user.image.url, class: "PostInfo__myComments--image PostUserShow-image"), user_path(@post.user)
      = link_to @post.user.name, user_path(@post.user), class: "PostInfo__myComments--name PostUserShow-name"
      .PostInfo__myComments--contents
        = @post.contents
    .PostInfo__yourComments
      - @comments.each do |comment|
        .PostInfo__yourComments-wrapper
          = link_to (image_tag comment.user.image.url, class: "PostInfo__yourComments--image CommentUserShow-image"), user_path(comment.user)
          = link_to user_path(comment.user), class: "PostInfo__yourComments--name CommentUserShow-name" do
            = comment.user.name

          .PostInfo__yourComments--contents
            - if current_user.id == comment.user.id
              %span.OwnComment
                = comment.content
            - else
              %span
                = comment.content

    .PostInfo__likes
      = link_to "#", class: 'PostInfo__likes--icon' do
        = icon('fas', 'heart')
        %span<>
      3
    .PostInfo__likeUser
      %p らんまる
      %p けん
      %p ケビン
      %p らんまる
      %p けん
      %p ケビン

    .PostInfo__input
      = form_with model: [@post, @comment], html: {class: "Form"}, local: true do |f|
        .PostInfo__contents
          = f.text_field :content, class: 'PostInfo__contents--area', placeholder: 'コメントを追加'
          = f.submit '投稿する', class: 'PostInfo__contents--btn'
