= render "top"
.PostShow
  .PostPic
    = image_tag @post.image.url, class: "PostPic__image"
    - if current_user.id == @post.user.id
      = link_to "#", class: "PostPic__trash", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "投稿を削除" do
        = icon('fas', 'trash-alt')

  #postShow-overlay
  #postShow-modalWindow
    %p.confirm-text 本当に画像を削除しますか？
    = link_to post_path, method: :delete, class: "modal-PostPic__trash" do
      = icon('fas', 'trash-alt')
      %span<>
    = link_to "#", class: "modal-PostPic__back" do
      = icon('fas', 'undo-alt')


  .PostInfo
    .PostInfo__user
      = link_to (image_tag @post.user.image.url, class: "PostInfo__user--image PostUserShow-image"), user_path(@post.user)
      = link_to @post.user.name, user_path(@post.user), class: "PostInfo__user--name PostUserShow-name"
    .PostInfo__myComments
      = link_to (image_tag @post.user.image.url, class: "PostInfo__myComments--image PostUserShow-image"), user_path(@post.user)
      = link_to @post.user.name, user_path(@post.user), class: "PostInfo__myComments--name PostUserShow-name"
      .PostInfo__myComments--contents
        = @post.contents
    .PostInfo__yourComments
      - @comments.each do |comment|
        .PostInfo__yourComments-wrapper
          = link_to (image_tag comment.user.image.url, class: "PostInfo__yourComments--image UserInfoShow-image"), user_path(comment.user)
          = link_to user_path(comment.user), class: "PostInfo__yourComments--name UserInfoShow-name" do
            = comment.user.name

          .PostInfo__yourComments--contents
            = comment.content

    .PostInfo__likes
      %p ♡いいねしたユーザー：#{@post.likes.size}人


    .PostInfo__likeUser
      - @likes.each do |like|
        = link_to (image_tag like.user.image.url, class: "PostInfo__yourComments--image UserInfoShow-image"), user_path(like.user)
        = link_to user_path(like.user), class: "PostInfo__yourComments--name UserInfoShow-name" do
          = like.user.name

    .PostInfo__input
      = form_with model: [@post, @comment], html: {class: "Form"}, local: true do |f|
        .PostInfo__contents
          = f.text_field :content, class: 'PostInfo__contents--area', placeholder: 'コメントを追加'
          = f.submit '投稿する', class: 'PostInfo__contents--btn'
